/node_modules
/public/hot
/public/storage
/public/bower_components
storage/debugbar/
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.civ3.example
.DS_Store
public/.DS_Store
.framgia-ci-result.temp.yml
/.framgia-ci-reports
framgia-ci.yml
fgoal.sublime-project
/public/bower_components
