#m_ver_menu {

    ul.m-menu__nav {

        li.m-menu__item {

            span.m-menu__link-text {
                color: #fffefebf;
                font-size: 14px;
            }
        }

        li.m-menu__section  {

            .m-menu__section-text {
                color: #fffefebf;
                font-size: 14px;
            }
        }
    }
}
